.Build
.idea
.php_cs.cache
.phpunit.result.cache
.scannerwork
Build/testing-docker/.env
/composer.lock
Documentation/_build/
Makefile
Resources/Private/PHP/
!Resources/Private/PHP/composer.*
Tests/Acceptance/Support/_generated/
