parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\:\\:getModuleTemplate\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/BackendController.php

		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 1
			path: Classes/Domain/Repository/ConnectionRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterConnector\\\\Domain\\\\Repository\\\\ConnectionRepository\\:\\:findAllWithHidden\\(\\) return type has no value type specified in iterable type array\\|TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryResultInterface\\.$#"
			count: 1
			path: Classes/Domain/Repository/ConnectionRepository.php

		-
			message: "#^Do not use static property$#"
			count: 3
			path: Classes/RestClient/RestClientFactory.php

		-
			message: "#^PHPDoc tag @throws with type Brotkrueml\\\\JobRouterClient\\\\Exception\\\\ExceptionInterface is not subtype of Throwable$#"
			count: 1
			path: Classes/RestClient/RestClientFactory.php
